---

---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  
    <!-- NAVIGATION -->
      {% include navigation.html %}
    <!-- END NAVIGATION -->
    
    <!-- PAGE | WELCOME -->
      {% include welcome.html %}
    <!-- END PAGE | Welcome -->
   
    <!-- PAGE | WORK -->
      {% include work.html %}
    <!-- END PAGE | WORK -->

    <!-- PAGE | FEATURES  -->
      {% include course.html %}
    <!-- END PAGE | FEATURES -->

    <!-- PAGE | ABOUT -->
      {% include about.html %}
    <!-- END PAGE | ABOUT -->
   
    <!-- PAGE | BLOG -->
      {% include blog.html %}
    <!-- END PAGE | BLOG -->  
  
    <!-- PAGE | CLIENTS -->
      {% include clients.html %}
    <!-- END PAGE | CLIENTS -->
  
    <!-- PAGE | CONTACT -->
      {% include contact.html %}
    <!-- END PAGE | CONTACT -->
    
    <!-- PAGE | FOOTER -->
      {% include footer.html %}
    <!-- END PAGE | FOOTER -->

</body>
</html>
