<div class="pages page-about" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About us</h4>
      <h1>Meet The Team</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            BTeam is made up of three students, from the Summer 2014 Founders & Coders course. This website is a showcases of our work over the seven week duration.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span4 center">
          <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="https://lh6.googleusercontent.com/-taCDfpFQTjA/U76PNAz1dqI/AAAAAAAAA3w/aIIxwljQB2Q/s545-no/izaak.edit.jpg"

                 alt="Treble">

            <!-- Team memeber details, activated on hover -->
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">

                <a target = "_blank" href="https://www.facebook.com/izaakleorogan" ta class="sicon-facebook"><i>Facebook</i></a>

                <a target = "_blank" href="https://twitter.com/izaakrs" class="sicon-twitter"><i>Twitter</i></a>

                <a target = "_blank" href="http://uk.linkedin.com/pub/izaak-sofer/99/476/1b0" class="sicon-linkedin"><i>LinkedIn</i></a>

                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
          </div>

          <!-- Team member name and function -->
          <h5>
            Izaak Sofer<br/>
            <small>Director</small>
          </h5>
          <p class="smallFontBy08">Quarter-stack JavaScript developer.</p>


          <!-- Team member short info -->
          <p class="smallFontBy08"></p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="https://lh3.googleusercontent.com/-_BNKhTX3woc/U76OiqaSVbI/AAAAAAAAA3U/R8QYr4YBm3A/s545-no/Brian+%25283%2529.JPG" alt="Treble">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
          </div>

          <h5>
            Brian Guinan<br/>
            <small>CEO</small>
          </h5>
          <p class="smallFontBy08">Professional cardsmith. Two-time-world-champion-speed-talker.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="https://lh5.googleusercontent.com/-ulos8TbE-Ys/U76OiqOWFrI/AAAAAAAAA3Y/NiS3fgTnyVM/s545-no/IMG_4766+%25281%2529.JPG" alt="Treble">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
          </div>

          <h5>
            Besart Shyti<br/>
            <small>Code monster</small>
          </h5>
          <p class="smallFontBy08">Does not sleep. Does not eat. Knows no pain</p>
        </li>

      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>