<!-- END PAGE | ABOUT -->

<!-- PAGE | BLOG -->
<div class="pages page-blog" id="page-blog">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Blog</h4>
      <h1>Recent Blog Posts</h1>
      <div class="row">
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Blog articles -->
      <ul class="thumbnails">
        {% for post in site.posts %}
        <!-- Blog post -->
        <li class="span4">
          <!-- Blog image -->
          <a href="{{ post.url }}">
            <div style="height:13em; width:100%; background-image:url({{ post.image }}); background-position:center center; background-size:cover;" ></div>
          </a>
          <!-- Blog title -->
          <h5>
            {{ post.title }}<br/>
            <small>{{ post.author }}, {{ post.date | date: "%b %-d, %Y" }}</small>
          </h5>

          <!-- Blog post description -->
          <p class="smallFontBy08">{{ post.excerpt | truncatewords: 20 }}</p>

          <!-- Blog read more -->
          <div class="read-more">
            <a href="{{ post.url }}">Read More...</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </article>
    <!-- End Article -->

    <!-- Footer -->
    <footer>
      <!-- More blog posts -->
      <div class="show-more-cube">
        <a href="./pages/blog/blog.html"><span>All Blog<br/>Posts</span></a>
      </div>
    </footer>
    <!-- End Footer -->
  </div>
</div>