<div class="pages page-clients" id="page-clients">
  <div class="container">
    <h4 class="line-divider-inline center">Our friends</h4>
    <!-- Client logos -->
    <div class="row-fluid">


      <div class="span3 center">
        <a target = "_blank" href="http://dacamden.co.uk">
          <div style="height:10em; width:100%; background-image:url(https://lh3.googleusercontent.com/-l-ePsIPd064/U8VFBFsL7zI/AAAAAAAABDk/afkOJLbk410/w1118-h596-no/decamden.tiff); background-position:center center; background-size:cover;"></div>
      </div>
      <div class="span3 center">
        <a target = "_blank" href="http://getmycodeon.com">
          <div style="height:10em; width:100%; background-image:url(https://lh5.googleusercontent.com/-iU0SGwsZdtA/U8VFAMD-QpI/AAAAAAAABDc/aYVUv4xd2bE/w1118-h601-no/get+my+code+on.tiff); background-position:center center; background-size:cover;"></div>
      </div>
      <div class="span3 center">
        <a target = "_blank" href="http://4loop.co.uk">
       <div style="height:10em; width:100%; background-image:url(https://lh5.googleusercontent.com/-2TpWQus7_18/U8VE51rBbdI/AAAAAAAABDU/GhY_uuyM6wU/w1118-h555-no/4loop.tiff); background-position:center center; background-size:cover;"></div>
      </div>
      <div class="span3 center">
        <a target = "_blank" href="http://foundersandcoders.org">
       <div style="height:10em; width:100%; background-image:url(https://lh4.googleusercontent.com/-kJx5Aie8578/U8VIaJZhp5I/AAAAAAAABEI/24gSWwra8fY/w1118-h593-no/founders.tiff); background-position:center center; background-size:cover;"></div>
      </div>
    </div>
    <!-- Short text related to client's -->
    <div class="row-fluid">
      <div class="span8 offset2 center smallFontBy08">

      </div>
    </div>
  </div>
</div>