 <!-- PAGE | FEATURES  -->
    <div class="pages white paralax page-features" id="page-features">
        <div class="overlay"></div>
        <div class="container">
         
            
             <!-- Header -->
            <header>
                <h4 class="line-divider"></h4>                
                 <a target = "_blank" href = "http://foundersandcoders.org/"><h1 style="color:white">Founders & Coders</h1></a>
                <div class="row">
                    <div class="span8 offset2">
                      <p>
Founders & Coders is a course run by Dan Sofer and Pastor Jurado. The aim is to take a small group of highly motivated students and provide them with a world class education, with as little cost as possible.
                      </p>
                   
                        </p>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>Low Cost</h5>
                        <p class="smallFontBy08 cutBy10">The course is free. Dan's philosophy is to create value in his buisness by creating value in his students, whether they join him in other projects or help him get  sponsorship from the industry.</p>
                    </div>
                   <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>High Intensity</h5>
                        <p class="smallFontBy08 cutBy10">Students are expected to reach a level of competence that would allow them to work as a junior developer, or start work on their own project.  Natural aptitude is welcome. Enthusiasm and hard work are a requirement.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>Group Learning</h5>
                        <p class="smallFontBy08 cutBy10">Borrowing from the ideas of Richard Felda and Sugata Mitra, this course is built on a philosophy of group learning through ambitious, open ended, projects.</p>
                    </div>
                </div>
              
                <!-- Testemonials -->
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="quote center">
                            <div id="quote-slider" class="slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        This is a highly evolved website.
                                        <h5>Darwin</h5>
                                    </div>
                                    <div class="item">
                                         No words to describe.
                                        <h5>Shakespeare</h5>
                                    </div>
                                    <div class="item">
                                        Drinks on me.
                                        <h5>Dan</h5>
                                    </div>
                                  <div class="item">
                                        We are really close.
                                        <h5>Besart</h5>
                                    </div>
                                </div>
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-slider" data-slide-to="1"></li>
                                    <li data-target="#quote-slider" data-slide-to="2"></li>
                                    <li data-target="#quote-slider" data-slide-to="3"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->