 <!-- PAGE | FEATURES  -->
    <div class="pages white paralax page-features" id="page-features">
        <div class="overlay"></div>
        <div class="container">
         
            
             <!-- Header -->
            <header>
                <h4 class="line-divider"></h4>                
                <div class="row">
                    <div class="span8 offset2">
                      <p>
Founders & Coders is a course run by Dan Sofer and Pastor Jurado. The aim is to take a small group of highly motivated students and provide them with a world class education, with as little cost as possible.
                      </p>
                   
                        </p>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>No Fee</h5>
                        <p class="smallFontBy08 cutBy10">The course is free. Our philosophy is to create value in our buisness by creating value in our students, whether they join us in other projects, or help us get sponsorship from the industry.</p>
                    </div>
                   <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>High Intensity</h5>
                        <p class="smallFontBy08 cutBy10">Students are expected to reach a level of competence that would allow them to work as a junior developer, or start work on their own project.  Natural aptitude is welcome. Enthusiasm and hard work are a requirement.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>Group Learning</h5>
                        <p class="smallFontBy08 cutBy10">Borrowing from the ideas of Richard Felder and Sugata Mitra, this course is built on a philosophy of group learning through ambitious, open ended, projects.</p>
                    </div>
                </div>
              
            </article>
            <!-- End Article -->
        </div>
  <h4 class="line-divider"></h4>    

</br>
</br>


    </div>

    <!-- END PAGE | FEATURES -->