        <!-- Background map image -->
        <div id="map-image">
            <img src="/assets/images/pages/contact/map_bck.jpg">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->
    
    
    <!-- JQUERY -->
    <script src="/assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    
    
    <!-- TWITTER BOOTSTRAP -->
    <script src="/assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="../../assets/js/bootstrap/html5shiv.js"></script>
    <![endif]-->
    
    
    <!-- PLUGINS -->
    <script src="/assets/js/plugins/jquery.responsivevideos.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/jquery.tweet.min.js" type="text/javascript"></script>
        
    
    <!-- INITIALIZE -->
    <script src="/assets/js/application/application-blog-list.min.js" type="text/javascript"></script>