    <!-- PAGE | WELCOME -->
    <div class="pages white paralax page-welcome" id="page-welcome">
        <div class="overlay"></div>
        <!-- Centralized content -->
        <div class="centralized">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 center">

                      
                        <div class="line-divider" id="welcome-messages">
                            <ul class="slides">
                                <li>
                                    <h1>BTEAM</h1>
                                </li>
                                <li>
                                    <h1>WEB DEVELOPMENT</h1>
                                </li>
                            </ul>
                        </div>
                      
                      
                        <p>A FOUNDERS AND CODERS PROJECT</p>
                        <div class="social-icons sicon-white bordered">
                            <a target = "_blank" href="https://www.facebook.com/bteam.fc" class="sicon-facebook"><i>Facebook</i></a>
                            <a target = "_blank" href="https://twitter.com/bteamfc" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->